<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application
    android:name=".core.HabitHatchApp"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.HabitHatchApp"
    android:enableOnBackInvokedCallback="true">

    <!-- Immediately Finishing Activity as Launcher -->
    <activity
      android:name=".core.activities.ImmediatelyFinishingActivity"
      android:exported="true"
      android:theme="@style/Theme.HabitHatchApp">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Main App Activity -->
    <activity
      android:name=".core.activities.MainActivity"
      android:exported="true"
      android:theme="@style/Theme.HabitHatchApp"/>

  </application>

</manifest>
